body{
	background-color: #181818;
	color: #fff;
	font-family: sans-serif;
	background-image: url(media/Header.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

h2 {
	margin-top: 40px;
}

h3 {
	margin-top: 30px;
	font-weight: bolder;
}

p {
	margin-left: 20px;
	color: #dcdcdc;
	font-size: 14pt;
}

b {
	color: #fff;
}

ul {
	columns: 2;
	color: #dcdcdc;
	font-size: 14pt;
	list-style: none;
}

li {
	margin-bottom: 10px;
}

.M {
	margin: 0;
	display: flex;
	flex-direction: row;
	background: linear-gradient(rgba(0, 0, 0, 0), #181818, rgba(0, 0, 0, 0));
	background-size: 100% 38.5%;
	background-repeat: no-repeat;
	justify-content: center;
}

.main {
	width: 50%;
	margin-top: 35%;
	margin-left: 5%;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.08);
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
}

.poster {
	width: 20%;
	height: 20%;
	margin-top: 35%;
	border-radius: 24px;
	border: solid 3px #BB86FC;
}

.siq {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: flex-start;

}

.miniposter {
	width: 20%;
	margin-right: 50px;
	margin-bottom: 25px;
}

.mp {
	width: 100%;
	border-radius: 14px;
	border: solid 3px #BB86FC;
}

.mp:hover {
	border-color: #CCA2FF;
}

.rate{
	color: #BB86FC;
	font-weight: bolder;
	font-size: 32px;
}

.l{
	color: #CCA2FF;
	margin-left: 40px;
	font-size: 28px;
	font-weight: bold;
}

video{
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 16px;
}

.exposter{
	width: 90%;
	border-radius: 20px;
	border: solid 3px #BB86FC;
}

.extraP {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.extra{
	width: 30%;
	background-color: rgba(255, 255, 255, 0.08);
	border-radius: 24px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	margin-right: 30px;
}

.extra:hover{
	background-color: rgba(255, 255, 255, 0.12);
}

.nl{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-style: normal;
	color: #fff;
	text-align: center;
	align-items: center;
}